body{
    background-color: lightblue;
}

.container{
    background-color: white;
    margin: 1cm;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.container .left{

    padding: 1cm;
    background-color: rgb(26, 18, 71);
    text-align: left;
    color: ivory;
}

.container .right{

    font-family:'Courier New', Courier, monospace;
    padding: 1cm;
    position: relative;
    background-color: ivory;

}


.container .pic{

    text-align: center;
}

h3{
    text-align: center;
}

button{
    
    margin-left: 2cm;
    background-color: orange;
    display: inline-block;
}

h4{

    margin-left: 4cm;
    margin-top: 6cm;
    
}